$lockOpenningTime: 1.5s;

svg {
  width: 200px;
  text {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
  }
  * {
	transform-origin: center center;
  }
}

svg.padlock {
  * {
	animation-delay: 3s !important;
  }
  .padlock-top {
	animation-name: padlock-unlock-top;
	animation-duration: $lockOpenningTime;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  }
  .padlock-bottom {
	animation-name: padlock-unlock-bottom;
	animation-duration: $lockOpenningTime;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  }
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-5px, 0, 0) skew(3deg, -2deg);
	}

	20%, 80% {
	  transform: translate3d(5px, 0, 0) skew(-1deg, 2deg);
	}

	30%, 50%, 70% {
	  transform: translate3d(-5px, 0, 0) skew(2deg, -3deg);
	}

	40%, 60% {
	  transform: translate3d(5px, 0, 0) skew(-3deg, 2deg);
	}
  }
}

@keyframes padlock-unlock-top {
  to {
	transform: translateY(-50px);
  }
}

@keyframes padlock-unlock-bottom {
  to {
	transform: translateY(30px);
  }
}

#ticket {
  .badge {
	&-background {
	  overflow: hidden;
	  stroke-width: 5px;
	  stroke: #0c5167;
	  animation: dash 3s 1 linear;
	  animation-timing-function: linear;
	  stroke-linecap: round;
	  stroke-miterlimit: 3;
	  fill: #ffd54f;
	  @keyframes dash {
		from {
		  stroke-dasharray: 0 1178;
		  stroke-dashoffset: 1178;
		  fill: transparent;
		  transform: rotateY(0);
		  opacity: 0;
		}
		30% {
		  opacity: 1;
		}
		50% {
		  fill: transparent;
		}
		to {
		  stroke-dasharray: 1178 1178;
		  stroke-dashoffset: 0;
		  transform: rotateY(360deg);

		}
	  }
	}
  }

  .cocarde {
	animation: cocarde 3s linear;
	polygon {
	  stroke: #0c5167;
	  stroke-width: 10px;
	  fill: #ffd54f;
	  stroke-linecap: round;
	  @keyframes cocarde {
		from {
		  transform: scale(0);
		}
		50% {
		  transform: scale(0);
		  stroke-dasharray: 0 50 !important;
		}
		to {
		  stroke-dasharray: 50 50 !important;
		  stroke-dashoffset: 0;
		  transform: scale(1);
		}
	  }
	}
  }

  .group-ticket {

	path {
	  animation: group-ticket 3s linear;
	  fill: #ffecb3;
	  @keyframes group-ticket {
		from {
		  transform: scale(0);
		  opacity: 0;
		}
		90% {
		  transform: scale(0);
		  opacity: .5;

		}
		97% {
		  transform: scaleX(0.7);
		}
		to {
		  opacity: 1;
		  transform: scale(1);
		}

	  }

	  &.big {
		animation: group-ticket-big 3s linear;
		@keyframes group-ticket-big {
		  from {
			transform: scale(0);
		  }
		  70% {
			transform: scale(0);
		  }
		  to {
			transform: scale(1);
		  }

		}
	  }
	  &.bottom {
		animation: group-ticket 3.2s linear;
	  }
	}
  }
  .ticket-cls-1 {
	stroke: #0c5167;
	stroke-width: 10px;
  }
}

.mobile-container {
  background: lightgrey;
  width: 200px;
  height: 200px;
  position: relative;
  svg {
	position: absolute;
  }

}

.hidden {
  display: none;
}